@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row">
        <section>
            <h1>Welcome to TEAM REBUILD Timetable System</h1>
            <br />
            <br />
            <p><a class="btn btn-outline-dark" href="https://localhost:44318/">Timetable &raquo;</a></p>
        </section>
    </div>
</main>